__pycache__/
*.py[cod]
.env
.venv
venv/
*.log
models/*.pth
models/*.pt
app/__pycache__/
uploads/
outputs/
**/.env
**/.ipynb_checkpoints/
**/__pycache__/
**/.DS_Store
/models/resnet152.pth
/models/densenet121.pth